

.dialogs{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;

}
.dialogs__item{
  
  background-color:rgb(192, 35, 35);
  padding-left: 10px;
}

.messages{
 padding-left: 10px; 
 background-color:rgb(141, 16, 16);
 
}

.active{
  color: rgb(37, 184, 1);
}