.nav{
  grid-area: n;
  background-color: red;
}

.item{
  padding: 10px;
  background-color: rgb(192, 101, 101);
  color: white;
  border: rgb(189, 130, 130) 1px solid;
}

.item a{
  color: white;
  text-decoration: none;
}
.item a:hover{
  color: rgb(240, 200, 200);
}
.item a.active{
  color: rgb(243, 207, 3);
}