.friendsBlock{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.friendsBlock__title{
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.friendsBlock__list{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap:4px;
}

.friend{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.friend__img{
 border-radius: 50%;

}
.friend__firstname, .friend__seccondtname{
 text-align: center;
}