.content{
  grid-area: c;
  background-color: deeppink;
  margin-bottom: 20px;
}
.profile_inner{
  display: flex;
}
.avatar{
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.discription{
  margin-left: 40px;
  margin-top: 20px;
}

.background{
  background-color:rgb(63, 52, 52);
  width: 90px;
  height: 90px;
}
.discription div{
  line-height: 17px;
}
.name{
  margin-bottom: 10px;
}