.item{
  background-color: red;
  border: black 1px solid;
  padding-left: 10px;
  padding-top: 10px;
}

.item img{
  width: 30px;
  padding: 0;
  margin: 0;
}

.like{
  display: inline-block;
  background-color:rgb(139, 128, 128);
  padding: 5px 8px;
  margin: 5px 10px 10px ;
  border-radius: 10px;
  cursor: pointer;
}