
.post{
    padding: 3px;
    margin-top: 2px;
    background-color: lightcoral;
    display: flex;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.like{
 padding-top: 40px;
 color: maroon;
}