.app-wrapper{
  display: grid;
  grid-template-areas:
  "h h"
  "n c" ;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 10px;
}


.content{
  grid-area: c;
  background-color:hotpink;
}